#item {
  overflow: hidden;
}

#item img {
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px 1px #000000;
          box-shadow: 0px 0px 5px 1px #000000;
  -webkit-transition: all 10s;
  transition: all 10s;
}

#item img:hover {
  -webkit-transform: scale(2.1);
          transform: scale(2.1);
}

#item {
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 800px;
      grid-template-rows: 800px;
  margin: 0px 10%;
  background-color: #f1f1f1;
  border-radius: 25px;
  padding: 30px;
}

#item .colLeft {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  overflow: hidden;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

#item .colRight {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  grid-gap: 30px;
}

#item .colRight h3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-column-align: self-end;
      justify-self: self-end;
  font-family: Raleway;
  font-weight: 800;
  font-size: 50px;
  border-bottom: solid 20px #985eea;
  height: 30%;
}

#item .colRight p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: justify;
  text-justify: inter-word;
  font-family: roboto;
  font-weight: 300;
  font-size: 20px;
}

#item .colRight .prix {
  position: absolute;
  left: 8%;
  top: 180px;
  border-radius: 10px;
  font-family: Raleway;
  font-weight: 600;
  font-size: 40px;
  background-color: #985eea;
  color: #FFF;
  padding: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#item .colRight .prix:hover {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
  background-color: #6402ec;
  border-radius: 10px;
}

#item .colRight .btn {
  font-family: Raleway;
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #985eea;
  border-color: #985eea;
  border-radius: 15px;
}

#item .colRight .btn:hover {
  background-color: #6402ec;
  border-color: #6402ec;
}

#item .colRight label {
  font-family: roboto;
  font-weight: 300;
  font-size: 20px;
}

#item .colRight select {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 15px;
  height: 30%;
  font-family: roboto;
  font-weight: 300;
  font-size: 20px;
}

#item .colRight select option {
  font-family: roboto;
  font-weight: 300;
  font-size: 20px;
}

#cart #emptyCart {
  display: -ms-grid;
  display: grid;
}

#cart #emptyCart h3 {
  font-family: raleway;
  font-weight: 400;
  font-size: 40px;
  -ms-grid-column-align: center;
      justify-self: center;
}

#cart #emptyCart .goHomeBtn {
  margin: 50px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #985eea;
  border-color: #985eea;
  border-radius: 10px;
  padding: 10px 30px;
}

#cart #emptyCart .goHomeBtn:hover {
  background-color: #6402ec;
  border-color: #6402ec;
}

#cart img {
  height: 50px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  padding: 0px;
  margin: 10px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#cart img:hover {
  -webkit-transform: scale(3, 3);
          transform: scale(3, 3);
  margin-left: 50px;
}

#cart .itemList {
  overflow-y: scroll;
  height: 600px;
  margin: 0px 10%;
  background-color: #f1f1f1;
  border-radius: 25px;
  padding: 30px;
}

#cart .itemList td {
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
}

#cart #fullCart {
  display: -ms-grid;
  display: grid;
}

#cart #fullCart .prixTotal {
  -ms-grid-column-align: end;
      justify-self: end;
  border-radius: 10px;
  font-family: Raleway;
  font-weight: 600;
  font-size: 40px;
  background-color: #985eea;
  color: #FFF;
  padding: 30px;
  margin: -60px 60px -60px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#cart #fullCart .prixTotal:hover {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
  background-color: #6402ec;
  border-radius: 10px;
}

#cart #buttons {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  display: -ms-grid;
  display: grid;
  margin: 0px 10%;
}

#cart #buttons #removeCart {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin: 50px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  -ms-grid-column-align: self-start;
      justify-self: self-start;
  background-color: #ea5e5e;
  border-color: #985eea;
  border-radius: 10px;
  padding: 10px 30px;
}

#cart #buttons #removeCart:hover {
  background-color: #aa0c0c;
  border-color: #6402ec;
}

#cart #buttons .shopping {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin: 50px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  -ms-grid-column-align: self-start;
      justify-self: self-start;
  background-color: #4ec6a6;
  border-color: #985eea;
  border-radius: 10px;
  padding: 10px 30px;
}

#cart #buttons .shopping:hover {
  background-color: #77fabd;
  border-color: #6402ec;
}

#cart #form {
  display: -ms-grid;
  display: grid;
  margin: 0px 10%;
  background-color: #f1f1f1;
  border-radius: 25px;
  padding: 30px;
}

#cart #form h3 {
  font-family: raleway;
  font-weight: 400;
  font-size: 40px;
  -ms-grid-column-align: center;
      justify-self: center;
}

#cart #form div {
  margin-top: 8px;
  margin-bottom: 8px;
}

#cart #form .confirmDiv {
  display: -ms-grid;
  display: grid;
}

#cart #form .confirmDiv button {
  margin-top: 40px;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 10px;
  font-family: Raleway;
  font-weight: 600;
  font-size: 20px;
  background-color: #985eea;
  color: #FFF;
  padding: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#cart #form .confirmDiv button:hover {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
  background-color: #6402ec;
  border-radius: 10px;
}

#confirmation {
  display: -ms-grid;
  display: grid;
  margin: 40px 10% 0px;
  background-color: #f1f1f1;
  border-radius: 25px;
  padding: 30px;
}

#confirmation #confirmEmptyDiv {
  display: -ms-grid;
  display: grid;
}

#confirmation #confirmEmptyDiv i {
  -ms-grid-column-align: center;
      justify-self: center;
  color: red;
  font-size: 100px;
  text-align: center;
  margin-top: -70px;
}

#confirmation #confirmEmptyDiv .badTitle {
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: raleway;
  font-weight: 400;
  font-size: 40px;
}

#confirmation #confirmDiv {
  display: -ms-grid;
  display: grid;
}

#confirmation #confirmDiv i {
  -ms-grid-column-align: center;
      justify-self: center;
  color: green;
  font-size: 80px;
  text-align: center;
  margin-top: -70px;
}

#confirmation #confirmDiv .thxTitle {
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: raleway;
  font-weight: 400;
  font-size: 40px;
}

#confirmation #confirmDiv .thxTitle2 {
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: roboto;
  font-weight: 200;
  font-size: 30px;
}

#confirmation #confirmDiv .confNumDiv {
  display: -ms-grid;
  display: grid;
}

#confirmation #confirmDiv .confNumDiv .confNumTitle {
  -ms-grid-column-align: center;
      justify-self: center;
  justify-self: center;
  font-family: roboto;
  font-weight: 200;
  font-size: 30px;
}

#confirmation #confirmDiv .confNumDiv .confNum {
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: raleway;
  font-weight: 400;
  font-size: 40px;
  color: green;
}

#confirmation #confirmDiv2 {
  display: -ms-grid;
  display: grid;
}

#confirmation #confirmDiv2 #delivAdressDiv {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

#confirmation #confirmDiv2 #delivAdressDiv .delivAdressTitle {
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: roboto;
  font-weight: 200;
  font-size: 30px;
}

#confirmation #confirmDiv2 #delivAdressDiv .flName {
  margin-left: 20px;
  font-family: raleway;
  font-weight: 600;
  font-size: 20px;
}

#confirmation #confirmDiv2 #delivAdressDiv .address {
  margin-left: 20px;
  font-family: raleway;
  font-weight: 600;
  font-size: 20px;
  margin-top: -15px;
}

#confirmation #confirmDiv2 #delivAdressDiv .city {
  margin-left: 20px;
  font-family: raleway;
  font-weight: 600;
  font-size: 20px;
  margin-top: -15px;
}

#confirmation #confirmDiv2 #totamPriceDiv {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

#confirmation #confirmDiv2 #totamPriceDiv .totamPriceTitle {
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: roboto;
  font-weight: 200;
  font-size: 30px;
}

#confirmation #confirmDiv2 #totamPriceDiv .totamPrice {
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: raleway;
  font-weight: 600;
  font-size: 40px;
}

nav {
  background-color: #f1f1f1;
}

nav #inCart {
  display: none;
  z-index: 1;
  background: red;
  padding: 4px 10px;
  margin: 0px -10px 0px -20px;
  border-radius: 100%;
  font-family: raleway;
  font-weight: 600;
  opacity: 90%;
  color: #FFF;
}

nav li a {
  font-family: raleway;
  font-weight: 400;
  font-size: 20px;
  margin-right: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#985eea));
  background: linear-gradient(#985eea);
  background-size: 100%;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 80px 15%;
  -webkit-transition: background-size .2s, color .2s;
  transition: background-size .2s, color .2s;
  height: 70%;
}

nav li a:hover {
  -webkit-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
  background-size: 80px 80%;
}

nav .icons {
  font-size: 25px;
  margin-right: 15px;
}

header {
  display: -ms-grid;
  display: grid;
}

header h1 {
  font-family: raleway;
  font-weight: 400;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#985eea));
  background: linear-gradient(#985eea);
  background-size: 100%;
  background-position: 20% 80%;
  background-repeat: no-repeat;
  background-size: 50% 10%;
}

header h2 {
  font-family: roboto;
  font-weight: 200;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#985eea));
  background: linear-gradient(#985eea);
  background-size: 100%;
  background-position: 75% 80%;
  background-repeat: no-repeat;
  background-size: 50% 5%;
}

header #inCart {
  display: none;
  text-align: center;
  -ms-grid-column-align: self-end;
      justify-self: self-end;
  z-index: 1;
  background: red;
  padding: 10px 30px;
  margin: 0px 8% -40px 0px;
  border-radius: 100%;
  font-family: raleway;
  font-weight: 600;
  font-size: 40px;
  opacity: 90%;
  color: #FFF;
}

.card {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card img {
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  margin: 15px;
  display: -ms-grid;
  display: grid;
}

.card-body h3 {
  -ms-grid-column-align: self-start;
      justify-self: self-start;
  font-family: Raleway;
  font-weight: 800;
  border-bottom: solid 8px #985eea;
  height: 60%;
}

.card-body p {
  z-index: 1;
  font-family: Roboto;
  font-weight: 300;
  text-align: justify;
  text-justify: inter-word;
}

.card-body .price {
  -ms-grid-column-align: self-end;
      justify-self: self-end;
  font-family: Raleway;
  font-weight: 600;
  background-color: #985eea;
  color: #FFF;
  padding: 12px;
  position: absolute;
  top: 30px;
  right: -15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.card-body .price:hover {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
  background-color: #6402ec;
}

.card-body .btn {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #985eea;
  border-color: #985eea;
  border-radius: 10px;
}

.card-body .btn:hover {
  background-color: #6402ec;
  border-color: #6402ec;
}

#slogan {
  position: absolute;
  right: 5%;
  padding: 0px;
  text-align: center;
  font-family: allura;
  font-weight: 500;
  font-size: 50px;
  color: #985eea;
}

footer {
  margin-top: 45px;
  border-radius: 25px;
}

footer a {
  text-decoration: none;
}

footer .cart {
  color: #000000;
  margin-right: 5px;
}

footer i {
  color: #985eea;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer i:hover {
  color: #6402ec;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-transform: scale(3.1, 3.1);
          transform: scale(3.1, 3.1);
}

/*MOBILE*/
@media only screen and (max-width: 500px) and (min-width: 375px) {
  header h1 {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 15px;
    background-position: 15% 90%;
    background-repeat: no-repeat;
    background-size: 50% 10%;
  }
  header h2 {
    font-size: 20px;
    background-position: 75% 80%;
    background-repeat: no-repeat;
    background-size: 50% 5%;
  }
  nav li a {
    text-align: center;
    background: transparent;
  }
  #slogan {
    margin-top: 15px;
    font-size: 30px;
  }
  footer {
    margin-top: 70px;
  }
  footer i {
    margin: auto -5px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 501px) {
  nav li a {
    text-align: center;
    background: transparent;
  }
  header h1 {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 15px;
    background-position: 15% 90%;
    background-repeat: no-repeat;
    background-size: 50% 10%;
  }
  header h2 {
    font-size: 20px;
    background-position: 75% 80%;
    background-repeat: no-repeat;
    background-size: 50% 5%;
  }
  #slogan {
    margin-top: 15px;
    font-size: 35px;
  }
}

@media only screen and (max-width: 580px) and (min-width: 100px) {
  .card-body .price {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */